.layout-wrapper-logged {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 260px;
    /* espacio para sidebar */
    background-color: #f7f9fc;
}

.layout-wrapper-unlogged {
    min-height: 100vh;
    background-color: #f7f9fc;
    /* sin flex ni margin-left */
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}